/*Задаёт шрифты*/ 
@font-face {

    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url(/fonts/raleway/raleway-800.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/rubik/rubik-400.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/rubik/rubik-700.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url(/fonts/rubik/rubik-800.woff2) format("woff2");
    font-display: swap;
}

/*Задаёт стили боди*/
body {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    background-color: #ffffff;
}

/*Задаёт фон шапке*/
.page-header {
    color: #000000;
    background: #FFE17F;  
}

/*Заданы стили для строки поиска*/
.navigation-link-site-search {
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
text-decoration: none;
color: #000000;

opacity: 0.3;
}

/*Заданы стили для имени пользователя*/
.navigation-link-name {
    text-decoration: none;
    color: inherit;
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
}

/*Заданы стили для Выйти*/
.navigation-link-exit {
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
text-decoration: none;
color: #000000;

opacity: 0.3;
}

/*Задана картинка поиска*/
.navigation-link-search {
    background-image: url("/img/search.svg");
    background-repeat: no-repeat;
    cursor: pointer;
    width: 16px;
    height: 16px;
  }

/*Задана картинка Пользователь*/
  .navigation-link-user {
    background-image: url("/img/user.svg");
    background-repeat: no-repeat;
    cursor: pointer;
    width: 16px;
    height: 16px;
  }

/*Задана картинка ст.диагр.*/
  .navigation-link-d {
    background-image: url("/img/d.svg");
    background-repeat: no-repeat;
    cursor: pointer;
    width: 16px;
    height: 16px;
  }

/*Задана картинка корзины*/
.navigation-link-cart::after {
    content: url("/img/cart.svg");
}

/*Заданы стили для цифра 2 с бордер-радиус*/
.counter {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    background-color: #ffffff;
    border-radius: 50%;
    font-size: 14px;
    line-height: 21px;
    width: 21px;
    height: 21px;
    text-align: center;
    display: inline-block;
   
}  

/**/
.navigation-link {
    font-family: "Rubik";
    font-size: 16px;
    line-height: 19px;
    color: inherit;
    text-decoration: none;
}

.navigation-link-menu {
    font-family: "Raleway";
    font-size: 18px;
    line-height: 21px;
    color: inherit;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
}

/*Выпадающий список*/
.dropdown-menu-column a {
    font-family: "Rubik";
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    text-decoration: none;
    
}

/* Убираем маркеры */
li {
    list-style-type: none;
   
  }

  /*Добавляет фон в инфо доставка/гарантия/кредит*/
  .services-slider-item {
    background: #F0F0F0;
  }
  

   /*Добвляет фон доставка*/
  .company-delivery {
    background: #F0F0F0; 
  }
 

  /*Доавляет фон рассылки*/
  .main-mailing {
    background: #F0F0F0;
  }
  

  /*Добавляет фон подвала*/
  .page-footer {
    background: #444444;
  }


.filter {
    background: #EBEBEB;
}


.pagination {
    background: #EBEBEB;
}

.sidebar-title-wrap {
    background: #DCDCDC;
}


/*Кнопка загрущить ещё*/
.button-pagination-show-more {
    
    border: 3px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    background-color: #ffffff;
    width: 760px;
    height: 55px;
    margin: 0;
    margin-top: -11px;
    margin-bottom: 77px;
    margin-left: 71px;
    padding: 0;

    font-family: Raleway;
    font-style: normal;

    font-size: 16px;
    line-height: 19px;

    align-items: center;

    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: #000000;
}


.goods-sort {
    background: #EBEBEB;
}

/*Скрытые элементы*/
.visually-hidden {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
  
    border: 0;
  
    clip: rect(0 0 0 0);
  }

  .slider {
    position: relative;
    
}

  .slider-number {
    
    font-family: Rubik;
    font-style: normal;
    font-weight: 800;
    font-size: 180px;
    line-height: 30px;
    
    display: flex;
    align-items: center;
    text-align: right;
    
    color: #9c4040; /*СДЕЛАТЬ БЕЛЫЙ ЦВЕТ*/
 }


  h1 {
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
   
    
    color: #000000;
 }

  p {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
  
    
    color: #444444;
 }

 .detail {
    font-family: Raleway;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
text-align: center;
letter-spacing: 0.2em;
text-transform: uppercase;
text-decoration: none;

color: #000000; 
 }



 /*Переключение слайдеров*/
 .slider-pagination {
    width: 12px;
    height: 12px;
   
 }

 .promo-advantages-bigtext {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 30px;
    
    color: #000000;
 }
 .promo-advantages-smalltext {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
   
    color: #444444;
 }


 .main-goods-item-catalog {
    position: absolute;
    
    width: 96.95px;
    height: 54.99px;
    left: 172px;
    top: 873px;
 }


 .main-goods-item-name {
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    
    letter-spacing: -0.02em;

    color: #000000;
 }

 .main-goods-item-link {
     text-decoration: none;
 }

 .services-slider-item h3 {
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    
    color: #000000;
 }

 .services-slider-item {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    
    color: #444444;
 }

 .services-img {
    
    width: 136px;
    height: 164px;
    left: 1098px;
    top: 1227px;
 }

 .services-slider-control a{
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    
    color: #000000;
 }

 .company-delivery {
     position: relative;

 }

 .delivery {
    width: 47px;
    height: 31px;
    top: 0;
    left: 0;
    position: absolute;
 }

 .info {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
 }

 .company-delivery p {
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    
    color: #000000;
    
 }

 .main-info {
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 52px;
  padding-bottom: 79px;
    
 }

 .main-info-des {
    position: relative;

    width: 560px;
 }

 .main-info-des::before {
    content: "";
    position: absolute;
    top: -52px;
    left: 0;
  
    width: 80px;
    height: 7px;
  
    background-color: #000000;
  }

  .main-info .btn,
.main-contacts .btn {
  width: 260px;

  background: none;
  border: none;
}

.main-info h3,
.main-contacts h3 {
  margin: 0;
  padding-bottom: 43px;

  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: Raleway;
  color: #000000;
}

.contacts-schedule-item{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
  
    
    color: #444444;
} 

.main-info-descr {
    padding-bottom: 36px;
  }
  
  .main-info-descr p:first-child {
    width: 460px;
    margin: 0;
    padding-bottom: 30px;
  }
  
  .main-info-descr p:last-child {
    width: 485px;
    margin: 0;
    padding-bottom: 30px;
  }

  .main-info-delivery-list {
    margin: 0;
    padding: 0;
    padding-bottom: 52px;
    padding-left: 36px;
  
    list-style: none;
    font-weight: 800;
    font-size: 16px;
    line-height: 40px;
    font-family: "Gilroy", "Arial", sans-serif;
    color: #000000;
  }
  
  .main-info-delivery-item {
    position: relative;
  }
  
  .main-info-delivery-item::before {
    content: "";
    position: absolute;
    top: 16px;
    left: -34px;
  
    width: 8px;
    height: 8px;
  
    border: 2px solid #e6e6e6;
    border-radius: 50%;
  }

  .main-info .btn {
    margin-left: 3px;
  }
  
  .main-contacts {
    position: relative;
  
    width: 560px;
  }
  
  .contacts-phone {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
  }
  .main-contacts::before {
    content: "";
    position: absolute;
    top: -52px;
    left: 0;
  
    width: 80px;
    height: 7px;
  
    background-color: #000000;
  }
  
  .main-contacts h3 {
    margin-left: -3px;
  }
  
  .main-contacts p {
    margin: 0;
    padding-bottom: 39px;
  }

.main-contacts-btn {
    font-family: Raleway;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
text-align: center;
letter-spacing: 0.2em;
text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}


.btn {
    font-family: Raleway;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
text-align: center;
letter-spacing: 0.2em;
text-transform: uppercase;
text-decoration: none;


color: #000000;
}

.main-mailing h2 {
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    
    color: #000000;
}

.main-mailing p {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    
    color: #444444;
    
}

.page-footer {
    padding-top: 63px;
    padding-bottom: 57px;
  
    color: #ffffff;
  
    background-color: #444444;
  }

  .page-footer-logo {
    padding-top: 2px;
  }

  .page-footer-logo img {
    width: 145px;
    height: 36px;
  }

  .page-footer-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 62px;
  }
  
  .page-footer-address {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    flex-grow: 7;
  }

  .page-footer-services {
    display: flex;
    flex-grow: 5;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 6px;
  }

  .page-footer-services-link {
    margin: 0 auto;

    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    font-family: "Gilroy", "Arial", sans-serif;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-decoration: none;
  }

  .contacts-phone {
    flex-grow: 9;

    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;

    text-align: right;

    color: #FFFFFF;
    text-decoration: none;
  }

  .page-footer-links {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .page-footer-links::before {
    content: "";
    position: absolute;
    bottom: 22px;
    left: 1px;
  
    width: 80px;
    height: 7px;
  
    background-color: #ffc600;
  }

  .page-footer-links-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 690px;
  }

  .page-footer-social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 148px;
    margin: 0;
    padding-top: 2px;
  
    list-style-type: none;
  }

  .page-footer-social-link {
    position: relative;

    width: 32px;
    height: 32px;
  
    opacity: 0.3;
  }

  .page-footer-social-link::before {
    content: "";
    position: absolute;
  
    width: 32px;
    height: 32px;
  
    background-repeat: no-repeat;
  }

  /*КАТАЛОГ*/

  .page-content-header {
    padding-top: 37px;
    padding-bottom: 44px;
    padding-left: 59px;
  }

  .page-content-title {
    margin: 0;
    padding-bottom: 20px;
  
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    font-family: Raleway;
    color: #000000;
    letter-spacing: 0.01em;
  }

  .breadcrumbs-list {
    display: flex;
    margin: 0;
    padding: 0;
  
    list-style-type: none;
  }

  .breadcrumbs-item  {
    position: relative;

    padding-right: 37px;
  }

  .breadcrumbs-item a{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    
    color: #000000;
    
    opacity: 0.6;
  }

  .breadcrumbs-item::after {
    content: "";
    position: absolute;
    top: 14px;
    right: 19px;
    opacity: 0.2;
    width: 5px;
    height: 5px;
  
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  .breadcrumbs-item:nth-child(2)::after {
    right: 16px;
  }
  
  .breadcrumbs-item:last-child::after {
    display: none;
  }

.page-content-wrap {
    display: flex;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.sidebar {
    position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 328px;

  background-color: #efefef;
}

.sidebar::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  
    width: 100vw;
    height: 100%;
  
    background-color: #efefef;
  }

  .goods {
    width: 832px;
  }

  .sidebar h2 {
    position: relative;
  
    width: 236px; 
    margin: 0;
    padding-top: 23px;
    padding-right: 68px;
    padding-bottom: 23px;
    padding-left: 60px;
  
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    font-family: Raleway;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  
    background-color: #DCDCDC;
  }
  
  .sidebar h2::before {
    content: "";
    position: absolute;
    top: 0;
    right: 328px;
  
    width: 100vw;
    height: 70px;
  
    background-color: rgba(0,0,0,0.08);
  }

  .filter {
    width: 270px;
    padding-top: 69px;
    padding-left: 68px;
  }
  
  .filter-item-wrap {
    position: relative;
  }
  
  .filter-item-wrap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 1px;
  
    width: 201px;
    height: 2px;
  
    background-color: #000000;
  }
  
  .filter-item {
    width: 202px;
    margin: 0;
    padding: 0;
  
    border: none;
  }

  .filter-item legend {
    margin: 0;
    padding-top: 12px;
    padding-bottom: 15px;
  
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;

    letter-spacing: -0.02em;
  }
  

  
  .filter-range {
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
    padding-top: 32px;
  }
  
  .filter-range-controls {
    position: relative;
  
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
  }
  
  .filter-range-scale {
    height: 2px;
  
    background-color: #dbdbdb;
  }
  
  .filter-range-bar {
    width: 99px;
    height: 2px;
    margin-left: 11px;    
    
    background-color: #000000;
  }
  
  .filter-range-toggle {
    position: absolute;
  
    width: 18px;
    height: 18px;
  
    border: 2px solid #000000;
    border-radius: 50%;
    box-sizing: border-box;
    background: #EBEBEB;
  }

  .filter-range-toggle:active {
    width: 22px;
    height: 22px;
  
    border: 9px solid #ffffff;
  }
  
  .filter-range-toggle-min {
    top: -9px;
    left: -4px;
  }
  
  .filter-range-toggle-max {
    top: -9px;
    left: 109px;
  }

  
  .filter-range-label {
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    font-family: Rubik;
    color: #000000;
    opacity: 0.3;
    letter-spacing: 0;
    
    
  }
  
  .filter-range-label-min {
    flex-grow: 1;
    margin-right: 18px;
  }
  
  .filter-range-label-max {
    flex-grow: 1;
  }
  
  .filter-range-input {
    width: 50px;
    font-style: normal;
  
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    font-family: Rubik;
    color: #000000;
    letter-spacing: 0;
  
    
    border: 0;
    opacity: 0.3;
  }

  .filter-checkbox-list {
    margin: 0;
    padding: 0;
    padding-bottom: 31px;
  
    list-style-type: none;
  }
  
  .filter-checkbox-item {
    padding-left: 39px;
  }
  
  .filter-checkbox-label {
    position: relative;
  
    font-size: 14px;
    line-height: 40px;
    color: #000000;
    letter-spacing: 0.01em;
  
    cursor: pointer;
  }
  
  

.filter-checkbox-label::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: -40px;

  width: 20px;
  height: 20px;

  background-image: url("/img/chec-off.svg");
}

.filter-checkbox-label::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: -40px;

  display: none;
  width: 20px;
  height: 20px;

  background-image: url("/img/chec-on.svg");
  background-repeat: no-repeat;
}

.filter-checkbox-input:checked + .filter-checkbox-label::before {
    display: none;
  }
  
  .filter-checkbox-input:checked + .filter-checkbox-label::after {
    display: block;
  }
  
  .filter-checkbox-label:hover::before,
  .filter-checkbox-label:hover::after {
    opacity: 0.6;
  }
  
  .filter-radio-list {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
  
    list-style-type: none;
  }
  
  .filter-radio-item {
    padding-left: 39px;
  }
  
  .filter-radio-label {
    position: relative;
  
    font-size: 14px;
    line-height: 40px;
    color: #000000;
    letter-spacing: 0.01em;
  
    cursor: pointer;
  }
  
  .filter-radio-label::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: -40px;
  
    box-sizing: border-box;
    width: 20px;
    height: 20px;
  
    border: 2px solid #000000;
    border-radius: 12.5px;
  }
  
  .filter-radio-label::after {
    content: "";
    position: absolute;
    top: 4px;
    left: -34px;
  
    display: none;
    width: 8px;
    height: 8px;
  
    background-color: #000000;
    border-radius: 4.5px;
  }

  .filter-radio-input:checked + .filter-radio-label::after {
    display: block;
  }
  
  .filter-radio-input:disabled + .filter-radio-label,
  .filter-radio-input:checked:disabled + .filter-radio-label {
    color: #a6a6a6;
  }
  
  .filter-radio-input:disabled + .filter-radio-label::before,
  .filter-radio-input:checked:disabled + .filter-radio-label::before {
    opacity: 0.25;
  }
  
  .filter-radio-label:hover::before,
  .filter-radio-label:hover::after {
    opacity: 0.6;
  }
  
  .filter-radio-label:active::before,
  .filter-radio-label:active::before {
    opacity: 1;
  }
  
  .filter .btn {
    width: 200px;
    margin-left: 2px;
  
    background: none;
    border: none;
  }

  .goods-sort {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 832px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 72px;
  }

  .goods-sort::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  
    width: 100vw;
    height: 100%;
  
    background-color: rgba(0, 0, 0, 0.08);
  }

  .goods-sort h3 {
    margin: 0;
    margin-right: 55px;
  
    font-family: Raleway;
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.2em;
text-transform: uppercase;

color: #000000;
  }
  
  .goods-sort-list {
    display: flex;
    flex-wrap: wrap;
    
    margin: 0;
    padding: 0;
    padding-right: 18px;
    padding-bottom: 4px;
  
    list-style-type: none;
  }
  


  .goods-sort-item a {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;

    color: #000000;

    
  }

  .goods-sort-updown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 21px;
    margin: 0;
    padding: 0;
  
    list-style-type: none;
  }
  
  .goods-sort-up-link {
    opacity: 0.2;
  }
  .goods-list {
    display: flex;
    flex-wrap: wrap;
    width: 852px;
    margin: 0;
    padding-top: 69px;
    padding-left: 72px;
  }
  
  .goods-item {
    width: 360px;
    margin-right: 40px;;
  }
  
  .goods-item:nth-child(2n) {
    margin-right: 0;
  }
  
  .goods-item-info {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 45px;
  }
  
  .goods-item-info h1 {
    width: 260px;
    margin: 0;
  
    font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 24px;

letter-spacing: -0.02em;
color: #000000;

  }

  .goods-item-info a {
    text-decoration: none;
  }
  
  .goods-item:nth-child(2) h1 {
    width: 180px;
  }
  
  .goods-item-info a {
    color: #000000;
  }
  
  .goods-item-price {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.01em;
  }
  

  .goods-item-price{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    
    /* basic/dark */
    
    color: #444444;
  }


  .goods-item-hover {
    position: absolute;
    top: 0;
    left: 0;
  
    display: none;
    width: 360px;
    height: 380px;
    padding-top: 169px;
    padding-right: 90px;
    padding-left: 90px;
  
    text-align: center;
  
    background-color: rgba(238, 238, 238, 0.7);
  }
  
  .goods-item:hover .goods-item-hover {
    display: block;
  }

  .goods-item-hover .btn {
    width: 200px;
    margin-bottom: 6px;
    margin-left: -11px;
  
    background: none;
    border: none;
  }
  
  .goods-item-add {
    font-size: 13px;
    line-height: 20px;
    color: #000000;
    letter-spacing: 0.01em;
  
    opacity: 0.5;
  }
  

  
  .goods-item {
    position: relative;
  }
  
  .goods-item-new {
    position: absolute;
    top: 29px;
    right: 27px;
  
    display: none;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
  
    font-weight: 800;
    font-size: 14px;
    line-height: 60px;
    font-family: "Gilroy", "Arial", sans-serif;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  
    border: 2px solid #000000;
    border-radius: 50%;
    opacity: 0.2;
  }
  
  .goods-item-new-active {
    display: block;
  }

  .goods-item-img {
    position: relative;
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 760px;
    margin: 0;
    margin-top: -11px;
    margin-bottom: 77px;
    margin-left: 71px;
    padding: 0;
  
    list-style-type: none;
  
    background-color: rgba(0, 0, 0, 0.08);
  }
  
  .pagination-control-prev {
    display: block;
    width: 134px;
    padding-top: 24px;
    padding-right: 30px;
    padding-bottom: 22px;
    padding-left: 30px;
  }
  
  .pagination-control-next {
    display: block;
    width: 134px;
    padding-top: 24px;
    padding-right: 30px;
    padding-bottom: 22px;
    padding-left: 30px;
  
    text-align: right;
  }
  
  .pagination-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  
    list-style-type: none;
  }
  
  .pagination-item {
    width: 40px;
  
    text-align: center;
  }
  
  .pagination-control {
    font-family: Raleway;
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 19px;

    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;

    color: #000000;
  
    cursor: pointer;
  }

  .pagination-item a {
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
text-decoration: none;

text-align: center;

color: #444444;

opacity: 0.3;
  }